[user]
	email = kenyon@kenyonralph.com
	name = Kenyon Ralph
	signingkey = 0x98FF3EF9C9B912D5
[color]
	ui = always
[core]
	editor = emacsclient --tty
	pager = "if [ -x /usr/local/bin/diff-so-fancy ]; then \
	         diff-so-fancy | less --quit-if-one-screen --LONG-PROMPT --ignore-case --RAW-CONTROL-CHARS --HILITE-UNREAD --no-init; \
			 else less --quit-if-one-screen --LONG-PROMPT --ignore-case --RAW-CONTROL-CHARS --HILITE-UNREAD --no-init; \
			 fi"
[commit]
	gpgSign = true
	verbose = true
[tag]
	gpgSign = true
[push]
	default = simple
	gpgSign = if-asked
	followTags = true
	autoSetupRemote = true
[log]
	decorate = full
[http]
	cookiefile = ~/.gitcookies
[pull]
	ff = only
[credential]
	helper = store
[diff]
	colorMoved = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[checkout]
	defaultRemote = origin
[merge]
	log = true
[safe]
	directory = /opt/puppetlabs/pdk/share/cache/pdk-templates.git
