[user]
	email = kralph@qgov.net
	name = Kenyon Ralph
[color]
	ui = always
[core]
	editor = emacsclient --tty
	pager = less --quit-if-one-screen --LONG-PROMPT --ignore-case --RAW-CONTROL-CHARS --HILITE-UNREAD --no-init
[commit]
	verbose = true
[push]
	default = simple
[log]
	decorate = full
[http]
	cookiefile = ~/.gitcookies
[pull]
	ff = only
[credential]
	helper = store
[diff]
	colorMoved = true
