# maintaining ansible inventory locally on workstation
inventory

.emacs.d/.org-id-locations
.emacs.d/auto-save-list
.emacs.d/completions
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/history
.emacs.d/ido.last
.emacs.d/places
.emacs.d/server/
.emacs.d/session.*
.emacs.d/smex-items
.emacs.d/tramp
.emacs.d/transient

.vim/.netrwhist

.w3m/.arrived
.w3m/.sessions
.w3m/.textarea
.w3m/history
