! For xterm, see the xterm man page.
*customization: -color

UXTerm.termName: xterm-256color

UXTerm*metaSendsEscape: true
UXTerm*saveLines: 100000

UXTerm*faceName: Hack
UXTerm*faceSize: 10

! Reset charClass back to the default to work around Ubuntu's dumb patch:
! https://git.launchpad.net/ubuntu/+source/xterm/commit/XTerm.ad?h=applied/ubuntu/bionic&id=fb87baa43b09ae90819be07a9a18c41b95160de5
UXTerm*charClass:

UXTerm*trimSelection: true

! Color names: /usr/share/X11/rgb.txt

UXTerm*colorULMode:  on
UXTerm*cursorColor: lime green

! The below scheme is based on "neon" from
! http://terminal.sexy/#FxcX-Pj4FxcX2Bdll9Aa_6gAFrH7_ySRD9y26-vrOCUs_wAAdrY54aEmKJzV_ySRCpuB-Pj4

! special
UXTerm*foreground:   #f8f8f8
UXTerm*background:   #171717

! black
UXTerm*color0:       #171717
UXTerm*color8:       #5c595a

! red
UXTerm*color1:       #d81765
UXTerm*color9:       #ff0000

! green
UXTerm*color2:       #97d01a
UXTerm*color10:      #76b639

! yellow
UXTerm*color3:       #ffa800
UXTerm*color11:      #e1a126

! blue
UXTerm*color4:       #16b1fb
UXTerm*color12:      #289cd5

! magenta
UXTerm*color5:       #ff2491
UXTerm*color13:      #ff2491

! cyan
UXTerm*color6:       #0fdcb6
UXTerm*color14:      #0a9b81

! white
UXTerm*color7:       #ebebeb
UXTerm*color15:      #f8f8f8
